<app-header (employeeAdded)="onEmployeeAdded($event)"></app-header>

<div class="table-container">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Salary</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Employee of Employees">
      <th scope="row">{{ Employee.id }}</th>
      <td>{{ Employee.firstName }}</td>
      <td>{{ Employee.lastName }}</td>
      <td>{{ Employee.email }}</td>
      <td>{{ Employee.salary }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm">Update</button>
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
